[data-testid="stAppViewContainer"] {
    background-image: url("Backround.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFFFFF;
}
.container {
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    margin: auto;
    font-family: Arial, sans-serif;
}
.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.description {
    font-size: 16px;
    margin-bottom: 20px;
}
.spotify-logo {
    margin: 20px auto;
    width: 120px;
    height: 120px;
    background-color: #1DB954;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spotify-logo img {
    width: 80px;
    height: 80px;
}
.footer {
    font-size: 14px;
    margin-top: 20px;
}
.wide-button {
    background-color: #1DB954;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}
.wide-button:hover {
    background-color: #17a743;
}

